@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

html {
	height: 100%;
	margin: 0;
	font-family: helvetica, sans-serif;
	background-color: #282a36;
}

body {
	margin: 0;
}



.grid {
	display: grid;

	grid-template-areas: "header           header"
						 "content         content";

	grid-template-columns: 1fr 1fr;
	grid-template-rows: 80px auto;
	height: 100%;
	grid-column-gap: 5px;
	background-color: #282a36;
}

.header {
	grid-area: header;
	background-color: #f8f8f2;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header span {
	font-family: "Roboto Mono", monospace;
	font-size: 30px;
	font-weight: 200;
	letter-spacing: 5px;
	line-height: 30px;
	padding: 25px;
	color: #44475a;
	text-decoration: none;
}

.headingText {
	font-family: "Roboto Mono", monospace;
	font-size: 30px;
	font-weight: 200;
	letter-spacing: 5px;
	line-height: 30px;
	padding: 25px;
	color: #f8f8f2;
	text-decoration: none;
	justify-content: center;
}



.subHeader {
	grid-area: subHeader;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	background-color: #f8f8f2;
}
  
.subHeader span {
	font-weight: 200;
	letter-spacing: 3px;
	font-size: 20px;
	line-height: 35px;
}

.content {
	grid-area: content;
}

.subDiv {
	display: flex;
	flex-direction: row;
	overflow-y: hidden;
}

.homeDivTxt {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	color: #f8f8f2;
	font-weight: 100;
	font-size: 20px;
	text-align: center;
}

.webpageDiv {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	margin-left: 80px;
	margin-right: 80px;
	justify-content: center;
	color: #f8f8f2;
	font-weight: 100;
	font-size: 20px;
	text-align: center;
}

#contentDiv {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	color: #f8f8f2;
	font-weight: 100;
	font-size: 20px;
	text-align: center;
}

.videoEmbed {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.persona {
	width: 80%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#profile {
	vertical-align: middle;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}

img {
	max-width: 100%;
	cursor: pointer;
}

#imgDisplay {
	display: none;
	z-index: 4;
	background-color: rgba(0, 0, 0, 0.9);
	height: 100vh;
	width: 100vw;
	position: fixed;
}

#fullImg {
	max-height: 95vh;
	max-width: 95%;
	margin: auto;
}

.closeBtn {
	position: absolute;
	text-decoration: none;
	color: #f8f8f2;
	font-size: 1.5em;
	padding: 5px;
	opacity: 0.5;
}

.closeBtn:hover {
	opacity: 1;
}

.burger {
	position: fixed;
	right: 0;
	font-family: "Roboto Mono", monospace;
	font-size: 30px;
	font-weight: 200;
	letter-spacing: 5px;
	line-height: 30px;
	padding: 25px;
	color: #44475a;
	text-decoration: none;
}

.burger:hover {
	color: #bd93f9;
}
